html	{overflow:auto;		}

.mainleft
	{	height:100%	}
.mainright
	{	height:unset	}

#contents
	{	text-align:justify	}

table	{
	width:100%;
	text-align:left
	}

th	{ font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; } /*---based on h6--*/

tr	{ font-size: 1.2rem; line-height: 1.5;  letter-spacing: 0; } /*---based on h6--*/

a:hover
	{
	color:#D80032;
	font-weight:bold;
	}

/*---------------RESPONSIVE------------------------*/
/* Larger than tablet */
@media (max-width: 800px) 
{
	.main
		{height:100%;	}
}

@media (max-width: 750px) 
{
	.mainright
		{height:250px;}
}

@media (max-width: 350px) 
{
	.mainright
		{
		height:275px;
		}
}