html, body
	{overflow:auto;}

.mainbody
	{
	display:flex;
	width:100%;
	}
.mainPoem
	{
	display:flex;
	flex-direction:column;
	width:710px;
	background-color:#EDF2F4;
	margin-right:10px;
	padding:20px;
	border-radius:5px;
	}
pre
	{ height:unset}
/*--
.poemTitle
	{height:50px;}
.poemAuthor
	{height:40px;}
--*/

.mainRightPoem
	{
	display:flex;
	flex-direction:column;
	justify-content:right;
	width:80px;
	height:100%;
	}
#bh, #bt, #bb
	{
	padding:5px 5px;
	width:100%;
	}
#bh	
	{
	margin:3px 0 3px 0;
	}
#search	
	{
	margin:0 0 0 3px;
	}

.poemAuthor hp5
	{ font-size:2.0rem;	}

.poemAuthor hp5:before
	{ content:"by ";	}

/*-------RESPONSIVE-------------------*/
/* Larger than tablet */
@media (max-width: 500px) 
{
	.mainbody
		{
		flex-direction:column-reverse;
		flex-wrap:wrap;
		}
	.mainRightPoem
		{
		flex-direction:row;
		justify-content:unset;
		width:100%;
		}
	.mainRightLinks
		{
		display:flex;
		flex-direction:row;
		width:100%;
		margin-bottom:5px;
		}
	#bh, #bt, #bb
		{
		padding:5px 5px;
		height:100%;
		flex:1;
		}
	#bh	
		{
		margin:0 0 0 3px;
		}
	.mainPoem
		{
		width:100%;
		}
}
@media (max-width: 350px) 
{
	#bh, #bt, #bb
		{
		font-size:12px;
		height:55px;
		}
	#b2
		{
		font-size:24px;
		}
}
		